body {
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-repeat:no-repeat;    
    margin: 0;
    padding: 0;
    color: white; 
    margin: 5px;
    font-family: arial;
}

.logo {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    display: block;
}
    
.header {
    font-size: 25px;
}

.menu {
    color: white;
    text-decoration: underline;
}

