body {
    background-image: url('assets/stretched-1920-1080-1308312.jpeg');
    margin: 0;
    padding: 0;
    color: white; /* Ajout de la couleur blanche pour le texte */
}

.logo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}
    





