body {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    margin: 0;
    padding: 0;
    color: white; 
    margin: 5px;
    font-family: arial; 
    max-width: 680px; /* Ajustez cette valeur selon vos besoins */
    margin: auto; /* Centre le contenu */
    text-align: center; /* Centre le texte */
    overflow-wrap: break-word; /* Pour une meilleure gestion du texte long */
    word-wrap: break-word; /* Pour une compatibilité avec les anciens navigateurs */
}

.buton
{
    cursor: pointer;
}

.titre {
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.contenu1 {
    text-decoration: underline;
}

.contenu2 {
    text-decoration: underline;
}

.contenu3 {
    text-decoration: underline;
}

.contenu4 {
    text-decoration: underline;
}

.contenu5 {
    text-decoration: underline;
}

.contenu6 {
    text-decoration: underline;
}

.insta{
    margin-left: 10px;
    font-size: 20px;
}

.twitch{
    margin-left: 10px;
    font-size: 20px;
}

.github{
    margin-left: 10px;
    font-size: 20px;
}