body {
    background-image: url('../assets/backk.jpeg');
    margin: 5px;
    padding: 0;
    color: white; 
    font-family : arial;
    max-width: 680px; /* Ajustez cette valeur selon vos besoins */
    margin: auto; /* Centre le contenu */
    text-align: center; /* Centre le texte */
    overflow-wrap: break-word; /* Pour une meilleure gestion du texte long */
    word-wrap: break-word; /* Pour une compatibilité avec les anciens navigateurs */
}

.button {
    background-color: #d68e1a; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.logowip {
    width: 30px;
    height: 30px;
}

.titre {
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.contenu1 {
    text-decoration: underline;
}

.contenu2 {
    text-decoration: underline;
}

.contenu3 {
    text-decoration: underline;
}

.contenu4 {
    text-decoration: underline;
}

.logo {
    width: 20px;
    height: 20px;
}