body {
    background-image: url('../assets/lala.jpg');
    margin: 5px;
    padding: 0;
    color: white; 
    font-family : arial;
}

.titre {
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: underline;

}

.contenu0 {
    text-decoration: underline;
}
.contenu1 {
    text-decoration: underline;
}

.contenu2 {
    text-decoration: underline;
}

.img {
    width: 10%;
    height: 10%;
    margin-left : 500px;
}

.métier {
    margin-left: 10px;
    padding: 0;
}

.études {
    margin-left: 10px;
    padding: 0;
}

.dev {
    margin-left: 10px;
    padding: 0;
}

.lien {
    margin-left: 10px;
    padding: 0;
}